@keyframes spin-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  height: 10rem;
  width: 10rem;
  animation: spin-animation 3.6s infinite ease-in-out;
}

.loader > div {
  width: 100%;
  height: 100%;
  background-color: var(--color_firefly);
  position: absolute;
  height: 4.35rem;
  width: 4.35rem;
}

@keyframes petal-animation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.15) rotate(-7deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.one {
  top: 0;
  left: 0;
  border-radius: 100% 100% 0 100%;

  animation: petal-animation 1.2s infinite ease-in-out;
}

.two {
  top: 0;
  right: 0;
  border-radius: 100% 100% 100% 0;

  animation: petal-animation 1.2s infinite ease-in-out;
  animation-delay: 0.3s;
}

.three {
  bottom: 0;
  left: 0;
  border-radius: 100% 0 100% 100%;

  animation: petal-animation 1.2s infinite ease-in-out;
  animation-delay: 0.9s;
}

.four {
  bottom: 0;
  right: 0;
  border-radius: 0 100% 100% 100%;

  animation: petal-animation 1.2s infinite ease-in-out;
  animation-delay: 0.6s;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}
