.container{
    padding: 3rem 5rem;
    width: 90%;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.container h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color_emerald);
    font-family: "Mulish";
}

.container h2{
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color_emerald);
    font-family: "Mulish";
}


.description{
    margin-top: 1.75rem;
    font-size: 16px;
    font-weight: bold;
    color: var(--color_firefly);
    line-height: 1.33rem;
    letter-spacing: 0.1rem;
}

.avatar{
    border-radius: 50% 50% 50% 0;
    background-color: #ddd;
}

.section{
    margin-top: 4rem;
}

.no_prizes_icon{
    font-size: 18px;
}

.socials_accounts{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.link_twitter{
    background-color: rgb(13, 177, 240);
    color: #fff;
    border-radius: 0.5rem;
    font-size: 18px;
    margin-top: 2rem;
}

.prizes_list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 1rem;
}

.prize{
    margin-top: 1.5rem;
    width: 350px;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: var(--color_firefly);
    line-height: 1.33rem;
    letter-spacing: 0.1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    transition: all 0.2s ease-in;
}

.prize_image_container{
    position: relative;
    width: 100%;
    height: 150px;
}

.prize_image{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.prize_meta{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prize_info{
    padding: 1.5rem 1rem;
    line-height: 20px;
    width: 80%;
}

.prize_type{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prize_type > svg{
    width: 32px;
    height: 32px;
}

.prize_val{
    color: var(--color_emerald);
    font-size: 14px;
}

.cheat_code_input{
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    margin-top: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
}

.cheat_code_input >input{
    width: 300px;
    height: 50px;
    border-radius: 6px 0 0 6px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 0 1rem;
    font-size: 14px;
    color: var(--color_firefly);
    letter-spacing: 0.1rem;
}

.cheat_code_input >button{
    width: 50px;
    height: 50px;
    border-radius: 0 6px 6px 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    font-size: 14px;
    color: var(--color_firefly);
    cursor: pointer;
}

@media (max-width: 1536px) {
    .prize{
        width: 47.5%;
    }
}

@media (max-width: 1280px) {
    .prize{
        width: 47.5%;
    }
}

@media (max-width: 1024px) {
    .prize{
        width: 85%;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 3rem 0rem;
    }
    .prize{
        width: 85%;
    }
}

@media (max-width: 640px) {
    .prize{
        width: 90%;
    }
}
