.quest_container {
  padding: 3rem 5rem;
}

.quest_container > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color_emerald);
  font-family: "Mulish";
}

.description {
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: bold;
  color: var(--color_firefly);
  line-height: 1.33rem;
  letter-spacing: 0.1rem;
}

.quests {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 1rem;
}

.quest {
  margin-top: 1.5rem;
  width: 22%;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--color_firefly);
  line-height: 1.33rem;
  letter-spacing: 0.1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
  transition: all 0.2s ease-in;
}

.quest:hover:not(.quest_is_completed) {
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 12px;
}

.quest_image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.quest_image_container {
  position: relative;
  width: 100%;
  height: 175px;
}

.quest_meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quest_info {
  padding: 1.5rem 1rem;
  width: 80%;
}

.quest_name {
  font-size: 12px;
  font-weight: bold;
  color: var(--color_firefly);
  font-family: "Mulish";
}

.quest_description {
  font-size: 12px;
  font-weight: bold;
  color: var(--color_emerald);
  font-family: "Work Sans";
  margin-top: 9px;
}

.quest_completed {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quest_credits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  font-size: 16px;
}

.quest_status_icon {
  width: 32px;
  height: 32px;
}

.loader_container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
}

@media (max-width: 1536px) {
  .quest {
    width: 30%;
  }
}

@media (max-width: 1280px) {
  .quest {
    width: 43%;
  }
}

@media (max-width: 1024px) {
  .quest {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .quest_container {
    padding: 3rem 0rem;
  }
  .quest {
    width: 85%;
  }
}

@media (max-width: 640px) {
  .quest {
    width: 90%;
  }
}
