.modal_item_backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_item {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
  max-width: 95%;
  max-height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.item_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  height: 300px;
  width: 300px;
  border-style: dotted;
  border-color: rgb(194, 191, 191);
  border-width: 0 0 0 2px;
  padding-left: 24px;
  gap: 6px;
}

.item_meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item_meta_icon {
  width: 18px;
  height: 18px;
}

.item_meta p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.item_purchase_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: rgb(21, 185, 201);
  background: linear-gradient(
    90deg,
    rgba(21, 185, 201, 1) 0%,
    rgba(21, 175, 200, 1) 100%
  );
  color: white;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.modal_item h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color_firefly);
  font-family: "Mulish";
}

.item_info {
  font-size: 18px;
}

.item_info_image {
  height: 75px;
  width: 100%;
}

/* =========================================== */
/* =========================================== */

.store_container {
  padding: 3rem 5rem;
}

.store_container > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color_emerald);
  font-family: "Mulish";
}

.description {
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: bold;
  color: var(--color_firefly);
  line-height: 1.33rem;
  letter-spacing: 0.1rem;
}

.stores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 1rem;
}

.store {
  margin-top: 1.5rem;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--color_firefly);
  line-height: 1.33rem;
  letter-spacing: 0.1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.winner_glow{
  border: 1px solid rgba(0, 0, 0, 0.1);
  animation: glow .6s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 14px -14px #1d5dff70;
  }
  to {
    box-shadow: 0 0 14px 4px #1d5dff70;
  }
}

.store:hover:not(.store_is_completed) {
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 12px;
}

.store_image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.store_image_container {
  position: relative;
  width: 300px;
  height: 300px;
}

.store_meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.store_info {
  padding: 1.5rem 1rem;
  width: 100%;
}

.store_name {
  font-size: 12px;
  font-weight: bold;
  color: var(--color_firefly);
  font-family: "Mulish";
}

.store_description {
  font-size: 12px;
  font-weight: bold;
  color: var(--color_emerald);
  font-family: "Work Sans";
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.store_credits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  font-size: 16px;
}

.store_status_icon {
  width: 32px;
  height: 32px;
}

.loader_container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
}

.date_info {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-top: 6px;
  align-items: center;
}

.calendar_icon {
  width: 18px;
  height: 18px;
}

/* Won Button */
.won_btn {
  padding: 8px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: default;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.won_btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: won-glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes won-glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.won_btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}



@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .store_container {
    padding: 3rem 0rem;
  }
  
  .modal_item {
    flex-direction: column;
  }
  .item_details{
    border-width: 2px 0 0 0;
    padding-left: 0;
    padding-top: 24px;
  }
}

@media (max-width: 640px) {
}


