.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  box-shadow: rgba(0, 0, 0, 0.1) 1.25px 1.25px 2px;
}

.main_content {
  margin-left: 260px; /*Same as the width of the sidebar*/
  background-color: #fff7f5;
  min-height: 100vh;
}

.sidenav_header {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 32px;
}

.sidenav_body {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
}

.sidenav_mobile_body{
  height: 95%;
  padding-top: 36px;
}

.sidenav_header_logo_image {
  border-radius: 100%;
}

.sidenav_header_title {
  font-size: 14px;
  font-weight: bold;
  color: var(--color_emerald);
  line-height: 9px;
  text-align: center;
}

.sidenav_header_title p {
  font-weight: 400;
}

.sidenav_body_item {
  cursor: pointer;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin: 1rem 0;
  padding-left: 48px;
  font-weight: bold;
  color: var(--color_emerald);
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  font-family: "Mulish";
}

.sidenav_body_item:hover {
  opacity: 1;
}

.sidenav_body_item_active {
  color: var(--color_firefly);
  border-left: var(--color_emerald) solid 4px;
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(79, 107, 215, 0.2) 0%,
    rgba(2, 0, 36, 0) 100%
  );
}

.sidenav_body_item_icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.credits_info {
  display: flex;
  flex-direction: column;
  font-family: "Mulish";
  color: #b1b1b1;
  text-align: center;
  cursor: default;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}

.credits_info_empty {
  color: rgb(238, 148, 148);
}

.sidenav_mobile,
.sidenav_mobile_header {
  display: none;
  background-color: #fff7f5;
}

.sidenav_mobile_header {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 32px 0 0 22px;
}

.menu_icon {
  font-size: 32px;
}

.menu_title {
  font-size: 22px;
  font-weight: bold;
  color: var(--color_emerald);
  margin-right: 8px;
}

.menu_coletilla {
  font-size: 18px;
  font-weight: bold;
  color: var(--color_emerald);
  font-weight: 400;
}

.sidenav_mobile_close {
  position: absolute;
  top: 25px;
  right: 36px;
  font-size: 32px;
  color: var(--color_emerald);
  cursor: pointer;
}

.blackout{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  transition: background-color .33s ease-in-out;
}


@media (max-width: 1536px) {
  .sidenav {
    width: 240px;
  }
  .main_content {
    margin-left: 240px;
  }
}

@media (max-width: 1280px) {
  .sidenav {
    width: 220px;
  }
  .main_content {
    margin-left: 220px;
  }
}

@media (max-width: 1024px) {
  .sidenav {
    width: 200px;
  }
  .main_content {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
  .main_content {
    margin-left: 0;
    padding: 0 32px;
  }
  .sidenav_mobile {
    display: flex;
    flex-direction: column;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 48px; /* Place content 60px from the top */
    transition: all 0.5s ease-in-out; /* 0.5 second transition effect to slide in the sidenav */
  }
  .sidenav_mobile_header {
    display: flex;
  }
}

@media (max-width: 640px) {
}
