.modal_reward_backdrop{
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_reward{
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.modal_reward h1{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color_emerald);
    font-family: "Mulish";
}

.reward_info_image{
    position: relative;
    height: 75px;
    width: 100%;
}

.reward_info{
    font-size: 18px;
}

.reward_info_image{
    height: 75px;
    width: 100%;
}

.container{
    padding-top: 3rem;
}

.header, .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.header{
    margin: 0 0 32px 0;
}

.footer{
    margin: 32px 0 0 0;
}

.header h1{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color_emerald);
    font-family: "Mulish";
}

.header p{
    line-height: 24px;
    text-align: center;
}

.card_game{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.deck{
    gap: 24px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game_status_lost, .game_status_won, .game_status_playing{
    position: fixed;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: bold;
}

.status_icon{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .25rem;
}

.game_status_playing{
    color: rgb(1, 92, 255);
}

.game_status_lost{
    color: #ce4141;
}

.game_status_won{
    color: var(--color_green);
}

.retry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: bold;
    color: var(--color_emerald);
    cursor: pointer;
    gap: .5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--color_emerald);
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}

.retry:hover{
    background-color: var(--color_emerald);
    color: #fff;
}

.retry_icon{
    width: 1.5rem;
    height: 1.5rem;
}

.no_credits{
    text-align: center;
}



@media (max-width: 1280px) {
    .deck{
        max-width: 800px;
    }
}

@media (max-width: 1024px) {
    .deck{
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .deck{
        max-width: 600px;
    }
}

@media (max-width: 640px) {
    .deck{
        max-width: 500px;
    }
}

