html,
body, 
h1, 
p, 
span,
div {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: black;
  }
}

textarea:focus, input:focus{
  outline: none;
}

:root {
  --color_banana_yellow: #FFEEB4;
  --color_lilac: #D2C4FB;
  --color_mint: #AFF8C8;
  --color_green: #00D37F;
  --color_emerald: #014751;
  --color_zircon: #F8FBFF;
  --color_firefly: #0F2830;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color_emerald);
  line-height: 1.33rem;
  letter-spacing: 0.1rem;
}

.subheadline {
  font-size: 1.85rem;
  font-weight: bold;
  color: var(--color_emerald);
  line-height: 1.33rem;
  letter-spacing: 0.1rem;
}