.bg{
    background-color: var(--color_banana_yellow);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.login_title{
  font-size: 92px;
  font-weight: bold;
  color: var(--color_emerald);
  margin-bottom: 20px;
  display: block;
  font-family: "Mulish";
}

.login_title span{
  display: block;
  text-align: center;
}

.login_button {
  align-items: center;
  background-color: var(--color_emerald);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ddd;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 24px;
  height: 64px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.login_button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 64px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.login_button:hover:after {
  transform: translate(0, 0);
}

.login_button:active {
  background-color: #013c46;
  outline: 0;
}

.login_button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .login_button {
    padding: 0 40px;
  }
}
